body {
    background: url('C:\Users\21302968\Desktop\Legends\SFD.SEMIBusinessLogic\SFD.BusinessLogic\SFD.MVC\Content\Template\images\.jpg') no-repeat center center;
    min-height: 600px;
    padding: 200px 0 0;
    font: 16px/1.3 'Segoe UI',Arial, sans-serif;
}
    navbarcolor{
 background-color:#008B8B;
 color:#fffff0;
}