@model IEnumerable<AbantuTech.Models.DonationAmount>
<link href="~/Content/JQueryIU/chart.css" rel="stylesheet" type="text/css" />

@{
    Layout = "";
}
@{
    ViewBag.Title = "Donations Report";
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Donations Report</p></h1>

<table class="table">
    <tr>
        <tr>
            <th align="left">Donations:</th>
        </tr>

        @foreach (var item in Model)
        {
          <tr>
              <td>
                  R @Html.DisplayFor(modelItem => item.C)
               </td>
           </tr>
          }
    
    <tr>
        <th align="left">Total Donations: </th>
    </tr>
    <tr>
        <td>
            @{ double A = Model.Sum(v => Convert.ToInt16(v.C));}
            R @A.00
        </td>
    </tr>
</table>
<br /><br /><br />
@using (Html.BeginForm("SubmitAction", "Manage", FormMethod.Post))
{

    <input type="submit" name="BtnConvert" value="Save Report" class="mybutton" />
}