
@{
    ViewBag.Title = "VolunteerMenu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h1><p align="center">Manage</p></h1>
<h2>Volunteer Menu</h2>
<ul class="table">

    <li class="h2">
        @Html.ActionLink("Programmes", "Index", "Programmes")
    </li>
  
  

</ul>

