@model IEnumerable<AbantuTech.Models.DonationAmount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Donations</p></h1>

<table class="table">
    <tr>
        <th>
            Donations:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               R @Html.DisplayFor(modelItem => item.C).00
            </td>
        </tr>
    }

</table>