@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@*<h2>@ViewBag.Title.</h2>*@

<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h1><p align="center">About Us</p></h1><br />

<p style="text-align:left">Our plan and purpose is to uphold and encourage the missions,challenges and values held by the African Union 
    as stated in the Sobantu Charter; in every project which we undertake. We want everything to stem from and be aligned with the Agenda 2063.
    We will achieve this by manifesting these aspirations through technology, innovation and a genuine interest in
     the people we serve and the wellbeing of the people of Africa. 
    Creating a membership management system for the largest Pan-African youth organization in Africa, focusing on YMCA Madagascar,
    YMCA South Africa, specifically the UKZN Student YMCA, on behalf of Sobantu Technologies.</p>


<p style="text-align:left">This system will provide safe and reliable data storage for its users. Being the largest pan African youth network, 
    each branch of the YMCA will be managing hundreds or even thousands of members. Our aim is to keep information secure and accessible.Allowing for more efficient management of members and increased productivity.</p>
