
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h1><p align="center">Home</p></h1>
<h2>Contact Us</h2><br />

<h4>Physical Address</h4><br />
<p>1 Nokwe Avenue</p>
<p>Ridgeside</p>
<p>Umhlanga Rocks</p>
<p>Durban</p><br />

<h4>Postal Address</h4><br />
<p>Sobantu Technologies (Pty) Ltd</p>
<p>PO Box 194</p>
<p>Durban</p>
<p>4000</p>

<p>Tel: +27 72 213 2290 [Call: +27 31 508 4300]</p>
<p>Fax: +27 31 508 4499 [Call: +27 78 982 4015 ]</p>