
@{
    ViewBag.Title = "SUBSCRIBED";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h2>SUBSCRIBED !</h2>

<div>
    <h4></h4>
    <hr />
    <p>
            Thank You! You have been successfully subscribed to our Newsletter.
        </p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />