
@{
    ViewBag.Title = "UNSUBSCRIBED";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h2>UNSUBSCRIBED !</h2>

<div>
    <h4></h4>
    <hr />
    <p>
        You have been successfully unsubscribed to our Newsletter.
    </p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />